.flex {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 0.25rem 0.5rem;
  margin-right: 0.25rem;
  border: none;
  background-color: none;
  border-radius: 3px;
}

.link {
  text-decoration: none;
  color: inherit;

  &:hover {
    transform: translateY(-5%);
    transition: all 0.3s;
    box-shadow: 3px 3px 5px 5px grey;
    border-radius: 5px;
    z-index: 100;
  }
}

.p-0.5 {
  padding: 0.5rem 0;
}
